doctype html
html(lang="en")
	head
		<link rel="stylesheet" type="text/css" href="css/style.css" />		
		title BackLog

body
	div.board-outline
		div#board
			div#board-doodles


			table#board-table.board-table
				tr
					td
						h1.home backlog by hk
						form.home(onsubmit="return go();")
							label name your new board with a unique word (no space):
							br
							input.text(type="text", name="name")
							a#go(onclick="return go();") &nbsp;go / create
						<br><br>
						p.home OR look at the example board named demo:
						p.home!= '<a href="http://' + locals.url + '/demo"> demo example</a>'




	//<div style="width: 900px; height: 600px; border: solid 3px; opacity:.1; margin-top: 100px"> this will be the backlog that only appears on drag or perhaps not at all</div>

	<script type="text/javascript">function go() {var value = document.forms[0].elements["name"].value; value = escape(value); window.location.href = value; return false;}</script>

